body{
	background-color: #B3B3B3;
	text-align: center;
	margin: 0;
}
h1,a,h2 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h1 {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	background-color: #F15B31;
}
a {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color:white;
}
h2{
	color: #0D2C40;
	font-size: 20px;
	font-weight: 600;
	text-decoration: underline;
}
.lum{
	margin: 0;	
	color: #F15B31;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
main{
	width:850px;
	margin:35px auto;
}
img{
	margin:40px 8px 0 8px;
	border-radius: 10px;
}

nav{
	background-color: #00A6B3;
	padding:20px 0;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway, sans-serif;
}
.copyright{
	float: left;
}
.message{
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #F15B31;
	font-weight: 700;
}
h3{
	color: white;
	font-family: Raleway, sans-serif;
}

section{
	border: 1px dotted #0D2C40;
	width: 44%;
	float:left;
	margin: 0 1.5%;
	padding: 10px;
}
aside{
	float:right;
	margin: 0 1.5%;
	width:44%;
	padding: 10px;
	border: 1px dotted #F15B31;
}
.cards{
	clear:both;
}
.objective{
	font-weight: 800;
	color: #0D2C40;
	/*text-decoration: none;*/
}
button{
	background-color: #0D2C40;
	color: white;
	margin: 30px;
}